/* ALL PAGES */

.jumbotron {
  margin-top: 10px;
}

.alert-message-container {
  height: 50px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
}

/* MESSAGES */

.flashes {
  padding-left: 0;
}

.alert {
  margin-bottom: 0;
}

/* TOP NAV */

.dropdown-toggle:hover {
  cursor: pointer;
}

.search-button,
.logout-button,
.register-button,
.login-button {
  border-color: grey;
  color: white;
  margin-right: 10px;
}

.search-button:hover,
.logout-button:hover,
.register-button:hover,
.login-button:hover {
  background-color: #0069d9;
  border-color: #0069d9;
}

.search-button:not(:disabled):not(.disabled):active,
.logout-button:not(:disabled):not(.disabled):active,
.register-button:not(:disabled):not(.disabled):active,
.login-button:not(:disabled):not(.disabled):active {
  background-color: #0069d9;
  border-color: #0069d9;
}

.search-button:focus,
.logout-button:focus,
.register-button:focus,
.login-button:focus {
  box-shadow: 0 0 0 0.2rem #0069d9;
}

.search-button:not(:disabled):not(.disabled):active:focus,
.logout-button:not(:disabled):not(.disabled):active:focus,
.register-button:not(:disabled):not(.disabled):active:focus,
.login-button:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem white;
}

.form-inline {
  align-items: flex-end;
}

a:not([href]):not([tabindex]) {
  border-color: white;
  color: white;
}

a:not([href]):not([tabindex]):hover {
  color: white;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-toggler {
  transition: .5s;
}

.navbar-toggler:hover {
  border-color: white;
}

/* REGISTER */

.register-title {
  margin-bottom: 10px;
  margin-top: 20px;
}

/* LOGIN */

.login-title {
  margin-bottom: 20px;
}

#inputUsername {
  margin-bottom: 20px;
}

#inputPassword {
  margin-bottom: 30px;
}

.login-button {
  margin-bottom: 30px;
  margin-top: 30px;
}

.change-password {
  margin-left: 100px;
}

/* RESET PASSWORD */

#newPassword {
  margin-bottom: 15px;
}

#confirmNewPassword {
  margin-bottom: 25px;
}

#currentPassword {
  margin-bottom: 15px;
}

#username {
  margin-bottom: 15px;
}

.reset-password-title {
  margin-top: 30px;
}

/* DASHBOARD */

.dash-welcome {
  margin-bottom: 60px;
  font-size: 40px;
}

.clear-fields {
  margin-left: 40px;
}

.save-to-history {
  margin-left: 12px;
}

.call-input-container {
  margin: auto;
}

#phoneNumberInput {
  margin-bottom: 30px;
}

#voiceMessageInput {
  margin-bottom: 30px;
}

.phone-or-message-container {
  margin-bottom: 50px;
}

.phone-select-button {
  margin-right: 20px;
}

.phone-select-button:hover {
  color: white !important;
}

.message-select-button:hover {
  color: white !important;
}

.message-select-button {
  margin-left: 20px;
}

#make-call-button {
  margin-top: 30px;
}

#send-text-button {
  margin-top: 30px;
}
