{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
    <div class="row">
      <div class="col-lg-3"></div>
        <div class="col-lg-6">
          <div class="alert alert-{{ category }} text-center">{{ message }}</div>
        </div>
      <div class="col-lg-3"></div>
    </div>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% if error %}
  <div class="row">
    <div class="col-lg-3">
    </div>
    <div class="col-lg-6">
      <div class="alert alert-danger text-center">{{error}}
      </div>
    </div>
    <div class="col-lg-3">
    </div>
  </div>
{% endif %}

{% if msg %}
  <div class="row">
    <div class="col-lg-3">
    </div>
    <div class="col-lg-6">
      <div class="alert alert-success text-center">{{msg}}
      </div>
    </div>
    <div class="col-lg-3">
    </div>
  </div>
{% endif %}
