{% extends 'dash_layout.html' %}
{% include 'includes/_navbar.html' %}
{% block body %}

<div class="jumbotron text-center">
  {% include 'includes/_calling_modal.html' %}
  {% include 'includes/_texting_modal.html' %}
  <div class="row animated fadeIn">
    <div class="col-lg-7 col-md-8 col-sm-10 text-center call-input-container">
      <h5 class="dash-welcome animated bounceInDown">Welcome, {{session.username}}!</h5>
        <form class="call-input-form" method="POST">
          <div class="phone-or-message-container">
            <label>
              <input type="text" name="currentUser" value="{{session.username}}" hidden>
            </label>
            <label>
              <input type="checkbox" name="makeCall" value="makeCall" class="call-check" hidden>
            </label>
            <button class="btn btn-lg btn-primary btn-outline-primary phone-select-button">Phone Call</button>
            <label>
              <input type="checkbox" name="sendText" value="sendText" class="text-check" hidden>
            </label>
            <button class="btn btn-lg btn-success btn-outline-success message-select-button">Text Message</button>
          </div>
        <div class="form-group">
          <input type="text" name="phoneNumber" class="form-control" id="phoneNumberInput" placeholder="Phone Number" value="{{request.form.phoneNumber}}" autofocus>
        </div>
        <div class="form-group">
          <textarea type="text" name="message" class="form-control" id="voiceMessageInput" placeholder="Message" value="{{request.form.message}}" rows="3"></textarea>
        </div>
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" name="recordConversation" value="record"> Record Conversation
          </label>
          <label>
            <input class="save-to-history" type="checkbox" name="saveToHistory" value="saveToHistory"> Save To History
          </label>
          <a class="btn btn-sm btn-dark clear-fields">Clear Fields</a>
        </div>
        <div class="submit-button-spacer">
        </div>
        <button id="make-call-button" class="btn btn-lg btn-primary btn-block animated flipInX" data-toggle="modal" data-target="#callingModal" type="submit">Make Phone Call</button>
        <button id="send-text-button" class="btn btn-lg btn-success btn-block animated flipInX" data-toggle="modal" data-target="#textingModal" type="submit">Send Text Message</button>
      </form>
    </div>
      {% include 'includes/_phone_number_pad.html' %}
  </div>
</div>


{% endblock %}
