{% extends 'layout.html' %}
{% include 'includes/_navbar.html' %}
{% block body %}

<div class="jumbotron text-center animated zoomIn">
  <h5 class="display-3 history-title">{{session.username}}'s History:</h5>
    <form method="POST">
      <label>
        <input type="text" name="username" value="{{session.username}}" hidden>
      </label>
    </form>
    <table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">Contact Number</th>
        <th scope="col">Method</th>
        <th scope="col">Message</th>
        <th scope="col">Timestamp</th>
      </tr>
    </thead>
    <tbody>
      {% for item in data %}
        <tr>
         <td class="c1">{{item.phone_number}}</td>
         <td class="c2">{{item.method}}</td>
         <td class="c3">{{item.message}}</td>
         <td class="c4">{{item.call_message_date}}</td>

       </tr>
      {% endfor %}

      <!-- <tr>
        <th scope="row">1</th>


      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr> -->
    </tbody>
  </table>
</div>

{% endblock %}
